body{
    /* Colors */
    --primary-color:#1a1a1a;
    --header-text-color:#009bd4;
    --active-header-color:#64bddf;
    --text-color:#efefef;
    --link-color:#261010;
    --header-color:#000000;
    
        
    /* Basic Styling*/
    font-family: Arial, -apple-system;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    display: block;
}

@media (prefers-color-scheme: light) { 
body{
    /* Colors */
    --primary-color:#efefef;
    --header-text-color:#009bd4;
    --active-header-color:#64bddf;
    --text-color:#333333;
    --link-color:#e6bebe;
    --header-color:#ffffff;
}
}

/* Title Style */
.title{
    text-align: center;
    padding: 0px 0 0px 0;
    font-size: 30px;
    background-color: var(--header-color);
    color: var(--header-text-color);
    width: 100%;
    margin-bottom: -30px;
}

/* Darkmode-Lightmode Toggle */


/* Header Style */
.header {
    text-align:left;
    padding-left: 0 0 0 0;
    font-size: 10px;
    background-color: var(--header-color);
    color: var(--header-text-color);
    width: 100%;
    z-index: 10;
    position: relative;
}

.link-list {
text-align:left;
    font-size: 10px;
    color: var(--header-text-color);
    z-index: 10;
    position: relative;
}

/* Center Style*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

/* Logo Style Properties*/
.logo{
    display:block;
    width: 30%;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
    text-align: center;
    z-index: 0;
    position: relative;
    pointer-events: none;
}

/* Link Styles*/

a {
    color: var(--header-text-color);
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: var(--link-color);
}
a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

/* Content */
.content{
    margin-top: 120px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}




/* This stuff is for the Little-Pascals site and is specific to it */

p {
    color: var(--text-color);
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    background-color: var(--header-color);
}

/* Styles the Nav Bar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--header-color);
}

nav .links li {
    display: inline-block;
    float: left;
} 

nav .links li a {
    display: block;
    color: var(--header-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .links li a:hover {
    color: var(--header-text-color);
    background-color: var(--primary-color);
}

nav .active {
    color: #454545 !important;
    background-color: var(--active-header-color);
}


nav .logo {
    float: left;
}
